            * {
				margin:0px;
				padding:0px;
			 }
			 
			#heading1 img {
				float:left;
				margin-left:70px;
			 }
			
			#heading1 h1{
				color:rgb(0,0,255);
				float:left;
				font-size:36pt;
				vertical-align:middle;
				margin-right:60px;
				padding-top:40px;
				cursor:default;
			  }
			
			#heading2 ul.menu{
				list-style-type:none;
				margin-top:50px;
			 }
			  
			#heading2 ul.menu li{
				font-size:14pt;
				font-weight:bold;
				text-align:center;
				border:1px solid white;
				height:50px;
				width:125px;
				background-color:blue;
				float:left;
				position:relative;
			 }
 
			#heading2 ul.menu li.active{
				background-color:rgb(0,255,0);
				cursor:default;
			 }

			#heading2 ul.menu li a{
				color:white;
				text-decoration:none;
			 }

			.lineh {
				line-height:2.5em;
			 }

			#heading2 ul.menu li.active:hover{
				background-color:rgb(0,255,0);	
			 }

			#heading2 ul.menu li:hover:not(.active){
				background-color:rgb(0,20,100);
			 }

			#heading2 ul.menu ul.menu{
				display:none;
				margin-top:1px;
			 }
			 
			#heading2 ul.menu li:hover > ul.menu{
				display:block;
			 }
			 
			#heading2 ul.menu ul.menu ul.menu { 
				margin-left:125px;
				top:-2px;
				position:absolute;
			 }

			#heading2 img {
				margin-left:20px;
				width:50px;
				height:50px;
			 }

			i {
				border: solid white;
				border-width: 0 3px 3px 0;
				display: inline-block;
				padding: 3px;
				margin-left:15px;
			 }

			.down {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			 }

			.right {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				margin-bottom:10px;
			 }

			.cp {
				cursor:default;
			 }

			.hide {
				display:none;
			 }

			#heading2 img#user {
				margin:-10px 0px 0px 16px;
				width:60px;
				height:65px;
			 }